Project1VS/force-app/main/default/flows/Subscription_Plan_Flow_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_New_Expiration_Date</name>
        <label>Set New Expiration Date Yearly</label>
        <locationX>793</locationX>
        <locationY>162</locationY>
        <assignmentItems>
            <assignToReference>$Record.Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_Year_From_Now</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_New_Expiration_Date_Monthly</name>
        <label>Set New Expiration Date Monthly</label>
        <locationX>786</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>$Record.Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_Month_From_Now</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>If_Annual_Subscription</name>
        <label>If Annual Subscription</label>
        <locationX>559</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>Set_New_Expiration_Date_Monthly</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_annual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual Subscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Expiration_Date</targetReference>
            </connector>
            <label>is annual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Clear</name>
        <label>Should Clear</label>
        <locationX>332</locationX>
        <locationY>627</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_not_renewing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cancelled_Subscription__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expiration_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Todays_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Subscription_Plan</targetReference>
            </connector>
            <label>is not renewing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Renew</name>
        <label>Should Renew</label>
        <locationX>216</locationX>
        <locationY>423</locationY>
        <defaultConnector>
            <targetReference>Should_Clear</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_renewable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expiration_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Todays_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancelled_Subscription__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Annual_Subscription</targetReference>
            </connector>
            <label>is expired and renewable</label>
        </rules>
    </decisions>
    <formulas>
        <name>One_Month_From_Now</name>
        <dataType>Date</dataType>
        <expression>DATE(
  YEAR(TODAY()),
  MONTH(TODAY()) + 1,
  DAY(TODAY())
)</expression>
    </formulas>
    <formulas>
        <name>One_Year_From_Now</name>
        <dataType>Date</dataType>
        <expression>DATE(
  YEAR(TODAY()) + 1, 
  MONTH(TODAY()),
  DAY(TODAY())
)</expression>
    </formulas>
    <interviewLabel>Subscription Plan Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscription Plan Flow Scheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Subscription_Plan</name>
        <label>Delete Subscription Plan</label>
        <locationX>601</locationX>
        <locationY>526</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <start>
        <locationX>49</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Should_Renew</targetReference>
        </connector>
        <object>Subscription_Plan__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-08-12</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Todays_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
